<p style="color: green"><%= notice %></p>

<%= render @record %>

<div>
  <%= link_to "Edit this record", edit_user_record_path(@record) %> |
  <%= link_to "Back to records", user_records_path %>

  <%= button_to "Destroy this record", user_record_path, method: :delete %>
</div>
